@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h2 {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}
.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  /* margin: auto; */

  /* border: 2px solid red; */
}
.gallery img {
  /* width: 200px; */
  height: 200px;
  object-fit: cover;
  /* border: 2px solid red; */
}
.first-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* border: 2px solid #00f; */
  text-align: center;
}
.second-img {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  /* border: 2px solid red; */
}
.second-img .gallery img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
.third-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  /* border: 2px solid green; */
}
.third-img .gallery .last-img {
  height: 40vh;
  width: 60%;
  object-fit: cover;
  /* border: 2px solid #00f; */
}
/* .gallery {
  display: inline-block;
 margin: 5px;
  border: 2px solid #00f;
} */
/* .gallery .description {
  padding: 10px;
  text-align: center;
} */
.gallery:hover {
  border: 1px solid hsl(0, 0%, 20%);
}
@media (max-width: 760px) {
  .body {
    flex-direction: column;
    align-items: center;
  }
  .first-img,
  .second-img,
  .third-img {
    width: 100%;
    height: auto;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .body {
    padding: 10px;
  }
  .gallery img {
    height: 150px;
  }
  .first-img,
  .second-img,
  .third-img {
    height: auto;
  }
}
